<head>
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
</head>

<table class="table ">
  <thead>
    <tr>
     
      <th>Album</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let list of products">
        
        <td><img src="{{list.product_img}}" class="img" /></td>
        <td id="name">{{list.product_name}}</td>
        <td id="price">{{list.product_price}}</td>
        <td id="quantity">
          {{list.product_quantity}}
          <button class="btnplus" (click)="add(list.product_id)"><b id="bold" >+</b></button>
          <button class="btnminus" (click)="del(list.product_id)"><b id="bold" >-</b></button>
        </td>
        <td id="details">
          <button class="btndetails" (click)="getpopup(list)">Show Details</button> &nbsp;
          
        </td>
      </tr>
  </tbody>
  <tfoot>
    <tr>
      <td class="totalprice">Total Price</td>
      <td colspan="0" class="totalprice">{{total | currency: 'USD' }}</td>
    </tr>
  </tfoot>
</table>

<app-productdetails [list] = "selectedProduct"></app-productdetails>