

<nav>
  <a routerLink="/music">Give a Listen</a>
  <router-outlet></router-outlet>
</nav>
<table class="table ">
  <thead>
    <tr id="labels">
     
      <th>Album</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let album of albums">
        
        <td><img src="{{album.product_img}}" class="img" /></td>
        <td id="name">{{album.product_name}}</td>
        <td id="price">{{album.product_price}}</td>
        <td id="quantity">
          {{album.product_quantity}}
          <button class="btnplus" (click)="add(album.product_id)"><b id="bold" >+</b></button>&nbsp;
          <button class="btnminus" (click)="del(album.product_id)"><b id="bold" >-</b></button>&nbsp;
        </td>
        <td id="details">
          <button class="btndetails" (click)="getpopup(album)">Show Details</button> 
          
        </td>
      </tr>
  </tbody>
</table>
    
     <h2>Total Price</h2>
      <p class="totalprice">{{total | currency: 'USD' }}</p>
<app-productdetails id="details"[list] = "selectedProduct"></app-productdetails>
