
.table{
    margin-left:auto; 
    margin-right:auto;
    table-layout: fixed;
    border: 2px solid; 
}

.btnplus, .btnminus{
    font-size: 15px;
}


thead{
    background-color: aqua; 
}
.img{
    height:200px;
}

.totalprice{
    font-size: 54px;
    padding: 50px;
  
}

#name{
   background-color: lightgray;
    padding:40px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;

}

#price, #details{
    padding:40px;
    text-align: center;
    background-color: antiquewhite;
}

#quantity{
    padding:50px;
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace
    
}

#labels{
    font-size: 24px;
}

nav{
    margin-right: 50%;
    padding-bottom: 15px;
  
}
